In [89]:
# criar um navegador
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd

# criar um navegador
nav = webdriver.Chrome()

# import/visiualizar a base de dados
tabela_produtos = pd.read_excel("buscas.xlsx")
display(tabela_produtos)

             Nome Termos banidos  Preço mínimo  Preço máximo
0  iphone 12 64gb     mini watch          3000          3500
1        rtx 3060     zota galax          4000          4500

In [100]:
# criar um navegador
nav = webdriver.Chrome()

# entrar no google
nav.get("https://www.google.com.br/")

# pesquisar pelo produto
produto = "iphone 12 64 gb"
nav.find_element('xpath','//*[@id="APjFqb"]').send_keys(produto, Keys.ENTER)

# entrar na aba shopping

elementos = nav.find_elements("class name", "O3S9Rb")
for item in elementos:
    if "Shopping" in item.text:
        item.click()
                              

# pegar as informações do produto